*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #cacaca;
    color: #333;
    display: flex;
}

.nav{
    background-color: white;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav h2{
    font-size: 2.4rem;
}

.nav ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav ul li{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li:hover{
    background-color: #f0f0f0;
}

.nav ul .active{
    background-color: #f0f0f0;
}

.game-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

.scoreboard{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    gap: 200px;
    font-size: 1.2rem;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.game-container{
    width: 60%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.game-container canvas{
    width: 80%;
    border: 3px solid black;
    border-radius: 20px 20px 0 0;
    display: block;
    margin: auto;
}

/* C-shape = buka kanan (default) */
canvas.c-shape {
    border: 3px solid black;
    border-right: none;
    border-radius: 20px 0 0 20px;
}

/* U-shape = buka atas */
canvas.u-shape {
    border: 3px solid black;
    border-top: none;
    border-radius: 0 0 20px 20px;
}

/* Inverse C = buka kiri */
canvas.inverse-c-shape {
    border: 3px solid black;
    border-left: none;
    border-radius: 0 20px 20px 0;
}

/* Inverse U = buka bawah */
canvas.inverse-u-shape {
    border: 3px solid black;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}
